body {
  font-family: sans-serif;
}

:root {
  --border: 0 1px 0 3px black;
}

button {
  background-color: transparent;
  border-color: transparent;
  box-shadow: var(--border);
}

img {
  box-shadow: var(--border);
}
